$bubbledark:rgba(10, 24, 46, 0.1) ;
$bubblewhite:rgba(255, 255, 255, 0.1) ;

.home {
  min-height: 100%;
  margin-top: 8vh;
  // background: #000;

  .container {
   
    // background: #000;

    position: relative;
  }
  p {
    font-size: 1rem;
    font-family: "nunito";
  }
  h1 {
    // background: #000;
    font-size: 4rem;
    margin-top: -10px;
    // font-weight: 400;
    font-family: "nunito";
    span {
      color: #8892b0;
    }
    &::before {
      content: "<div>";
      font-family: "La Belle Aurore";
      color: #e57373;
      font-size: 2rem;
      position: absolute;
      margin-top: -40px;
      left: 65px;
      top: -9px;
      opacity: 0.2;
    }
    &::after {
      content: "</div>";
      font-family: "La Belle Aurore";
      color: #e57373;
      font-size: 2rem;
      position: absolute;
      margin-top: -40px;
      right: 65px;
      bottom: -20px;
      opacity: 0.4;
    }
  }
  h3 {
    font-size: 1.2rem;
    font-family: "nunito";
  }
}

