.portfolio {
  min-height: 100vh;
  margin-top: 10rem;
  margin-top: 10rem;
  font-family: "nunito";
  &--projects {
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 200px;
    @media (max-width: 860px) {
      gap: 70px;
    }
    & li {
      min-width: 100%;
      padding: 0px;
      margin: 0 auto;
      @media (min-width: 860px) {
        &:nth-child(even) {
          & .card {
            display: flex;
            flex-direction:row-reverse;
            &--image{
  
            }
  
  
            &--text {
              // color: red;
              // position: unset;
              left: 0;
              align-items: flex-start;
  
            }
          }
         
        } 
      }

     
    }
  }
}
