.card {
  // display: flex;
  position: relative;
  width: 35rem;
  // height: 320px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.014),
    0 6.7px 5.3px rgba(0, 0, 0, 0.02), 0 12.5px 10px rgba(0, 0, 0, 0.025),
    0 22.3px 17.9px rgba(0, 0, 0, 0.03), 0 41.8px 33.4px rgba(0, 0, 0, 0.036),
    0 100px 80px rgba(0, 0, 0, 0.05);

  &--image {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5px;
  
    }

  }

  &--text {
    position: absolute;
    width: 28rem;
    top: -4%;
    
    right: -24rem;
    display: flex;
    flex-direction: column;

  }
  &--title {
    align-self: flex-end;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    font-size: 36px;
    // text-transform: uppercase;
    font-weight: bolder;
    & span {
      font-size: 18px;
      color: #e57373;
      font-weight: 100;
      letter-spacing: 1px;
    }
  }
  &--description {
    padding: 1rem;
    background: #c48a8ad5;

    border-radius: 5px;
    // align-items: flex-end;
    text-align: start;
  }
  &--tech {
    align-self: flex-end;
    padding: 1rem;
  }
  &--links{
    align-self: flex-end;
    padding-right: 1rem;
    margin-top: -.5rem;
  font-size: 24px;
  display: flex;
  gap: 10px;
  & svg:hover{
    color: #e57373;
  }
  }
}
