.about {
  // min-height: 60vh;
  margin-top: 10rem;
  font-family: "nunito";
  h2 {
    font-family: "Hachi Maru Pop";
  }

  &__container {
    display: flex;
    align-items: center;
    // background:#e573731a;
    gap: 2rem;
  }
  &__text {
    font-size: 1.2rem;
    // background:#aaa;
    padding-right: 1rem;
    text-align: left;
  }

  & img {
    // margin-left: -2rem;
    background: #000;
    width: 90%;
    border-radius: 0.5rem;
    filter: grayscale(10%);
  }
  &__list {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    gap: 0px 10px;
    padding: 0px;
    margin: 20px 0px 0px 20px;
    // overflow: hidden;
    list-style: none;
    & li::before {
      content: "▹";
      color: #e57373;
      line-height: 12px;
    }
  }
}
br {
  margin-bottom: 1rem;
}

@media (max-width: 860px) {
  .about {
    // max-width: 80vw;
    &__container {
      gap: 0.8rem;
    }
    &__text {
      padding-inline: 1rem;
    }
  }
}
@media (max-width: 740px) {
  .about {
    &__container {
      //  display: flex;
      flex-direction: column-reverse;
      // background: #000;
    }
    &__text {
      padding-inline: 1rem;
    }
    & img {
      // margin: 2rem;
      // background: #000;
      max-width: 16rem;
      border-radius: 0.5rem;
      margin-top: 1rem;
    }
    &__list {
      // max-width: fit-content;
      // margin-inline: auto;
      margin-bottom: 30px;
    }
  }
}
