$bubbledark: rgba(10, 24, 46, 0.1);
$bubblewhite: rgba(255, 255, 255, 0.1);

.home {
  padding: 24px 0;
  font-family: "nunito";
 
  p {
    font-size: 1rem;
  }
  h1 {
    & div{
      // background: #e57373;
      display: inline-block;
      white-space: nowrap;
    }
    z-index: 9998;
    display: inline-block;
    position: relative;
    font-size: 4rem;
    font-weight: 700;
    span .name {
      // white-space: nowrap;
      color: #8892b0;
      &:hover {
        // animation: rubberBand 1s;
        color: #e57373;
      }
      // letter-spacing: 0px;
    }
    &::before {
      content: "<div>";
      font-family: "La Belle Aurore";
      color: #e57373;
      font-size: 2rem;
      position: absolute;
      margin-top: -40px;
      left: 0px;
      top: 0px;
      opacity: 0.2;
    }
    &::after {
      content: "</div>";
      font-family: "La Belle Aurore";
      color: #e57373cc;
      font-size: 2rem;
      position: absolute;
      margin-top: -40px;
      right: 0px;
      bottom: -50px;
      opacity: 0.2;
    }
  }
}

@media (max-width: 560px) {
  .home {
    h1 {
      & span {
        font-size: 3.5rem;
      }
      font-size: 2.8rem;
    }
    h3 {
      font-size: 1rem;
    }
  }
}


