$w: 30px;
$e: 3px;
$space: 10px;
.menu-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: $w;
  aspect-ratio: 1;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  top: 1.5rem;
  right: 2rem;
  z-index: 9999;
}
@media (min-width: 680px) {
  .menu-btn {
    display: none;
  }
}
.menu-btn__burger {
  width: $w;
  height: $e;
  background: #fff;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: $w;
  height: $e;
  background: #fff;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-$space);
}
.menu-btn__burger::after {
  transform: translateY($space);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-5px);
  background: transparent;
  // box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(3px, -3px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(3px, 3px);
}
