$w: 30px;
$e: 3px;
$space:10px;
.menu-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: $w;
  aspect-ratio: 1;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  /* border: 3px solid #fff; */
  top: 1rem;
  right: 2rem;
  z-index: 9999;
}
.menu-btn__burger {
  width: $w;
  height: $e;
  background: #fff;
  border-radius: 5px;
  // box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: $w;
  height: $e;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-$space);
}
.menu-btn__burger::after {
  transform: translateY($space);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  // box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
