$navy-clr-8: hsla(216, 65%, 11%, 0.8);
$pink-clr: #e57373;
$bg-white-8: #eeeeeecc;
.navbar {
  display: flex;
  position: sticky;
  top: 0;
  background-color: $navy-clr-8;

  margin-bottom: 2rem;
  height: 12vh;
  justify-content: center;
  // padding: 0 4rem;

  &__left {
    flex: 1;
    align-items: center;
    justify-content: left;
    display: flex;
    gap: 2rem;
  }
  &__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 400;
    flex: 1;
  }

  &__logo {
    font-family: "Water Brush", cursive;
    font-size: 1.3rem;
    font-weight: bold;
    &:hover {
      color: $pink-clr;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      transform: rotateZ("30");
    }
  }
  &__list {
    display: flex;
    gap: 2rem;
    margin-right: 2rem;
    list-style: none;

    & > li:hover {
      color: $pink-clr;
      cursor: pointer;
      transition: all 0.3s ease-out;
    }
  }
}

.toggle {
  display: flex;
  justify-content: space-between;
  border: 1.5px solid $pink-clr;
  border-radius: 1rem;
  position: relative;
  padding: 2px;
  cursor: pointer;
  & > * {
    width: 1rem;
    height: 1rem;
    color: $pink-clr;
  }
  &__button {
    border-radius: 100%;
    background: $pink-clr;
    position: absolute;
  }
}
