.about {
  min-height: 100%;
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  // gap: 3rem;
  // padding: 1rem;
  // margin-top: 1rem;
  align-items: center;


  &__text {
    font-size: 1.2rem;
    font-family: "nunito";
    // background:#aaa;
  }
  .img{
    // background-color: #000;

  }
  & img {
    // margin: 2rem;
    background: #000; ;
    width: 90%;
    border-radius: .5rem;
  }
}
br{
  margin-bottom: 1rem;
}