// $primary-clr: #00529f;
// $secondary-clr: #febe10;
// $third-clr: #ee324e;

// $navy-clr: #0a192f;
// $light-navy-clr: #112240;
// $lightest-navy-clr: #233554;
// $slate-clr: #8892b0;
// $light-slate-clr: #a8b2d1;
// $lightest-slate-clr: #ccd6f6;
// $white-clr: #e6f1ff;
// $green-clr: #64ffda;

$bg-dark: #0a192f;
$bg-white: #e6f1ff;
.container {
  max-width: 1024px;
  margin: 0 auto;
}

.navbar-item > .active {
  color: #e57373;
}

.app {
  min-height: 100vh;
}
