html {
  font-size: 62.5%;
}
body {
  margin: 0;
  font: 400 18px/1.4 "poppins", "sans serif";
  color: #e6f1ff;
  background: #0a192f;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
