html {
  /* font-size: 62.5%; */
}
body {
  margin: 0;
  font-family: "poppins", "sans serif";
  color: #e6f1ff;
  background: #0a192f;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


