html {
  /* font-size: 62.5%; */
  /* min-height: 100vh; */
  /* height: auto; */
}
body {
  margin: 0;
  font-family: "poppins", "sans serif";
  /* min-height: 100vh; */
  /* height: auto; */
  /* background:  ; */
}
.hidden {
  /* display: none; */
  opacity: 0;
}
